<!-- Header -->
header#header.header
  .container-wide
    .header__inner.d-f
      a.header__logo.logo(href="#")
        img.header__logo-img.logo__img(src="images/logo/logo.png", alt="MOUNTAIN - Ski & Snowboard School")
      .header__menu 
        button.header__menu-btn.js-nav-btn(aria-label='Navigation Menu')
          span.header__line
          span.header__line
          span.header__line
        nav.header__nav.js-nav-menu
          ul.header__list.d-f.ai-c
            li.header__item
              a.header__link(href='#')
                | Home
            li.header__item
              a.header__link(href='#offer')
                | What We Offer
            li.header__item
              a.header__link(href='#gallery')
                | Gallery
            li.header__item
              a.header__link(href='#about')
                | About Us
            li.header__item
              a.header__link(href='#testimonials')
                | Testimonials
            li.header__item
              a.header__link(href='#contacts')
                | Contact Us
<!-- /Header -->
