<!-- About -->
section#about.about.section(style='background-image: url(images/bg/about-bg.jpg);')
  .container
    .about__inner
      h2.about__title.title(data-aos='fade-up' data-aos-delay='0')
        | Mountain snowboard school
      .about__body
        .about__text-container
          p.about__text.text(data-aos='fade-up' data-aos-delay='200')
            | We’re not saying Snow Mountain has special powers, but a lot of magical things do happen here. The slopes on Bald and Dollar mountains enjoy a nearly lift line–free existence all winter long, not to mention a nearly cloud-free one.
        .about__text-container
          p.about__text.text(data-aos='fade-up' data-aos-delay='400')
            | To those who wish to experience the best holiday time ever, we are excited to offer unlimited fun on the slopes, homey cosiness, wonderful views and snow activities. All this selection is presented in a great variety for any taste, age and skill. We are looking forward to seeing you in Snow Mountain ski resort at new season!
      .about__stats.d-f
        .about__item.d-f
          span.about__number
            | 1600
          span.about__label
            | Happy clients
        .about__item.d-f
          span.about__number
            | 18
          span.about__label
            | Professional awards
        .about__item.d-f
          span.about__number
            | 213
          span.about__label
            | Reached tops
<!-- /About -->
