<!-- Crew -->
include ../mixins/mixins

section.crew.section
  .container
    h2.crew__title.title(data-aos='fade-up' data-aos-delay='0')
      | Meet our crew
    .crew__items.d-f.fxw-w
      +crew_item('#', 'images/content/user-01.png', 'Jamie Garcia', 'Instructor', 'Jamie Garcia')
      +crew_item('#', 'images/content/user-02.png', 'James Billings', 'Instructor', 'James Billings')
      +crew_item('#', 'images/content/user-03.png', 'Peter Colins', 'Instructor', 'Peter Colins')
      +crew_item('#', 'images/content/user-04.png', 'Amanda Lee', 'Instructor', 'Amanda Lee')
<!-- /Crew -->
