<!-- Hero -->
section#hero.hero.parallax.js-scroll-target(style='background-image: url(images/bg/hero-bg.jpg);')
  .hero__body.parallax__body
    .hero__container.parallax__container.container.d-f.fd-c
      .hero__header.parallax__header
        .hero__caption(data-aos='zoom-out' data-aos-delay='0')
          | Ski & snowboard school
        h1.hero__title(data-aos='zoom-out' data-aos-delay='0')
          | Stay & Ski
      .hero__content-wrapper.parallax__content-wrapper
        .hero__content
          p.hero__text(data-aos='fade-up' data-aos-delay='400')
            | The countdown to ski season has begun! So, it is high time
            | to improve your skills to have maximum fun this winter!
          button.hero__btn.btn.btn--lg
            | Online booking

    .hero__images.images-parallax
      .images-parallax__item
        .images-parallax__scene.images-parallax__scene--mountains
          .images-parallax__scene-img.images-parallax__scene-img--mountains(style='background-image: url(images/bg/hero-scene-mountains.png);')
      .images-parallax__item
        .images-parallax__scene.images-parallax__scene--snow
          .images-parallax__scene-img.images-parallax__scene-img--snow(style='background-image: url(images/bg/hero-scene-snow.png);')
      .images-parallax__item
        .images-parallax__scene.images-parallax__scene--human
          .images-parallax__scene-img.images-parallax__scene-img--human(style='background-image: url(images/bg/hero-scene-boarder.png);')
<!-- /Hero -->
