extends common/layout

block content
  include includes/index/hero
  .content
    include includes/index/offer
    include includes/index/gallery
    include includes/index/crew
    include includes/index/about
    include includes/index/testimonials
